<%- include('../partials/header'); -%>
<body style="background-color: black">
  <main>
    <div class="" >
      <div class="container" style="padding: 1%; ">
      <p style="text-align:center;margin-bottom:-2rem">
        <img src="frontend/build/coollogo_com-16152453.png" style="height:40vh;" class="center"></p>
        <form class="" action="/results" method="post">
                  <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-5">
                      <input class="form-control" type="text" name="title" placeholder="Enter City Name">
                    </div>
                    <div class="col-1">
                      <input class="btn btn-light" style="background-color: hotpink" type="submit" name="Submit" value = "Submit"/>
                    </div>
                  </div>

                </form>
      </div>
    </div>
        <div class="" >
          <div class="container-fluid" style="padding: 0.5%; ">
          <p style="text-align:center;">
          <img src="frontend/build/1_tYHxca5zXcSb7yo-bVUEFQ.png" style="width:50px;height=50px;" class="center">
          <img src="frontend/build/unnamed (1).png" style="width:50px;height=50px;" class="center">
          <img src="frontend/build/Twitter-logo.png" style="width:50px;height=50px;" class="center"></p>
          </div>
      </div>

  </main>